@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');
@import "reset.css";
@import "status-bar.css";

body{
    font-family: 'Oswald', sans-serif;
    }


.welcome-header {
        margin-top: 90px;
        text-align: center;
        display: flex;
        flex-direction:column;
        align-items: center;
    }
.welcome-header__title{
    font-size: 25px;
    margin-bottom: 20px;
}

.welcome-header__next{
    width:60%;
    opacity:0.7;
}